body {
    padding-top: 7rem;
}
.nav-item{
    text-align: center;
}
.ml-mr-1{
    margin-left: -1rem;
    margin-right: -1rem; 
}
.badge-huge{
    font-size: 110%;
}
.center{
    text-align: center
}
.profile-image{
    height: auto;
    width: 100%;
}
.to-rigth{
    text-align: right;
}
.jumbotron{
    padding-top: 2rem;
}